[
{
  System: "systemUnderTest",
  SystemFile: "systemUnderTest.js",
  
  Descriptions: [{
    File: "systemUnderTest.Specs.js",
    Cases: [
      {}
    ]
  }]
},
{
  System: "otherSystemUnderTest",
  SystemFile: "otherSystemUnderTest.js",
  
  Descriptions: [{
    File: "otherSystemUnderTest.Specs.js",
    Cases: [
      {}
    ]
  }]
}
]