<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IProjectMaintenanceBinding" />
        <binding name="TestResultsServiceSoap" />
        <binding name="IdentityManagementWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="IProjectMaintenanceBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="TestResultsServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://tfs.dolittle.com:8080/tfs/_tfs_resources/TestManagement/v1.0/TestResults.asmx"
        binding="basicHttpBinding" bindingConfiguration="IProjectMaintenanceBinding"
        contract="TestResultsService.IProjectMaintenanceBinding" name="IProjectMaintenanceBinding" />
      <endpoint address="http://tfs.dolittle.com:8080/tfs/_tfs_resources/TestManagement/v1.0/TestResults.asmx"
        binding="basicHttpBinding" bindingConfiguration="TestResultsServiceSoap"
        contract="TestResultsService.TestResultsServiceSoap" name="TestResultsServiceSoap" />
      <endpoint address="http://tfs.dolittle.com:8080/tfs/_tfs_resources/TestManagement/v1.0/TestResults.asmx"
        binding="customBinding" bindingConfiguration="IProjectMaintenanceBinding1"
        contract="TestResultsService.IProjectMaintenanceBinding" name="IProjectMaintenanceBinding1" />
      <endpoint address="http://tfs.dolittle.com:8080/tfs/_tfs_resources/TestManagement/v1.0/TestResults.asmx"
        binding="customBinding" bindingConfiguration="TestResultsServiceSoap12"
        contract="TestResultsService.TestResultsServiceSoap" name="TestResultsServiceSoap12" />
      <endpoint address="http://tfs.dolittle.com:8080/tfs/_tfs_resources/Services/v3.0/IdentityManagementService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IdentityManagementWebServiceSoap"
        contract="IdentityManagementService.IdentityManagementWebServiceSoap"
        name="IdentityManagementWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>